Package: vcloudblock-external-resources
Version: 0.0.0
Section: misc
Priority: optional
Architecture: all
Maintainer: vcloudblock <vcloudblock@vcloudblock.cn>
Description: Provides external resources to vcloudblock.
Installed-Size: 0
